
<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline mb-4">
    <%= form.label :title, class:"form-control"%>
    <%= form.text_field :title %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :image_url, class:"form-control"%>
    <%= form.text_area :image_url %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :description, class:"form-control"%>
    <%= form.text_area :description %>
  </div>

  <div class="form-outline mb-4">
    <%= form.label :ingredients, class:"form-control"%>
    <%= form.text_area :ingredients %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
