<p style="color: green"><%= notice %></p>

<div class="container mt-5">
  <div class="card">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="p-3 p-md-4 p-lg-6 pe-md-0">
          <div class="show-image-container ">
            <% if @recipe.image_url %>
              <%= image_tag @recipe.image_url, class:"show-image img-fluid" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-8">
        <div class="p-3 p-md-4 p-lg-6 ps-md-0">
          <h2 class="card-title"><strong><%= @recipe.title %></strong></h2>
          <div class="mb-3"><%= @recipe.description %></div>
            <a href="<%#=recipe_orders_path(@recipe, @user) %>" class="btn btn-secondary">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  <div>
  </div>

  <div>
  <br>
  <h3>Reviews</h3>   
            <% @recipe.reviews.each do |review| %>
                <br>
                <%= review.body %> 
                <br>
                Created <%= time_ago_in_words(review.created_at) %> ago
                <br>
            <% end %>

  <p>
  <%= @review.errors.full_messages.join(', ') %>
  <% if user_signed_in? %>
    <%= form_for [@recipe, @review] do |f| %>
        <%= f.text_area :body %>
        <br>
        <%= f.submit%>
    <% end %>
  </p>
  </div>

  <div class="d-flex justify-content-center my-4">
    <% if can? :crud, @recipe %>
      <a class="btn btn-dark text-uppercase p-3" href="<%= edit_recipe_path(@recipe)%>"id="sign-up-btn">Edit this recipe</a> | 
      <%= button_to "Destroy this recipe", recipe_path(@recipe), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-dark text-uppercase p-3" %>|
      <a class="btn btn-dark text-uppercase p-3" href="<%= recipes_path %>"id="sign-up-btn">Back to Recipe</a> 

    <% end %>
  <% else %>
  </p>
  </div>

  <div class="d-flex justify-content-center my-4">
  <a class="btn btn-dark text-uppercase p-3" href="<%= recipes_path %>"id="sign-up-btn">Back to Recipe</a> 
  <% end %>
  
  </div>
</div>
