<section class="bg-image"
  style="background-image: url('https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');" >
<div class="mask d-flex align-items-center h-100 gradient-custom-3 pb-0">
    <div class="container h-100 pb-0">
      <div class="container row d-flex justify-content-center align-items-center h-100 pb-0">
        <div class="container col-12 col-md-9 col-lg-7 col-xl-6 pb-0">
          <div class="card m-4" style="">
            <div class="card-body px-5 pt-5">

            <%if @user.id %>
                  <h2 class="text-uppercase text-center mb-5">Update your account</h2>
                <% else %>
                  <h2 class="text-uppercase text-center mb-5">Sign Up</h2>
            <% end %>

            <% if user.errors.any? %>
            <div style="color: red">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
            </ul>
            </div>
            <% end %>
            <div class="form-outline mb-4">

            <%#= form_with(model: user) do |form| %>
          <%= form_for @user do |form| %>
            <div class="form-outline mb-4">
              <%= form.label :first_name, class: "form-label" %>
              <%= form.text_field :first_name, class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-4">
              <%= form.label :last_name, class: "form-label" %>
              <%= form.text_field :last_name, class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-4">
              <%= form.label :email, class: "form-label" %>
              <%= form.text_field :email, class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-4">
              <%= form.label :password, class: "form-label" %>
              <%= form.password_field :password, class: "form-control form-control-lg" %>
            </div>
            <div class="form-outline mb-4">
              <%= form.label :password_confirmation, class: "form-label" %>
              <%= form.password_field :password_confirmation, class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-4">
              <%= form.label :address, class: "form-label" %>
              <%= form.text_field :address, class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-4">
              <%= form.label :phone, "Phone Number", class: "form-label" %>
              <%= form.text_field :phone, class: "form-control form-control-lg" %>
            </div>

            <div class="form-outline mb-4">
              <%= form.label :is_cook, "Are you a cook?", class: "form-label" %>
              <%= form.check_box :is_cook, :checked => false %>
            </div>

            <div class="form-outline mb-4">
              <%= form.submit %>
            </div>
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>