  <%# for cooks %>
<% if user_signed_in? && @user.is_cook? %>
    <%# pending reviews %>
    <h3>Pending Reviews </h3>
    <% @user.reviews.each do |review| %>
        <% if review.pending? %>
            <%= review.body %>
            <br>
            Created <%= time_ago_in_words(review.created_at) %> ago 
            <%= button_to 'Approve', user_path(@user.id, review.id), method: :approve, data: {confirm: "Are you sure"} %>
            <%= button_to 'Deny', user_path(@user.id, review.id), method: :deny, data: {confirm: "Are you sure"}  %>
        <% end %>
    <% end %>
    <%# orders %>
    <h3>Orders </h3>
    <% @user.orders.each do |order| %>
        <% if (order.pending?) %>
            <%= order.body %>
            <br>
            Created <%= time_ago_in_words(order.created_at) %> ago 
            <%= button_to 'Accept',  user_order_path(@user.id, order.id), method: :accept, data: {confirm: "Are you sure"}  %>

            <%= button_to 'Decline',  user_order_path(@user.id, order.id),method: :decline, data: {confirm: "Are you sure"} %>
        <% end %>
    <% end %>
    <h3>My Meals </h3>
    <%# all meals/edit - here or just on cook show page with edit visible to just the cook? %>
    <% @user.recipes.each do |r| %>
        <%= link_to r.title,  edit_recipe_path(r.id), method: :get %>
    <% end %>
<% else %>
    <%# for non-cooks %>
    <% if user_signed_in?%>
        <h3>Pending Reviews </h3>
        <% @user.reviews.each do |review| %>
            <% if review.pending? %>
                <%= review.body %>
                <br>
                Created <%= time_ago_in_words(review.created_at) %> ago 
               <p style = "color: orange"> Review Pending <p>
                <%# if can? :crud, review %>
                    <%#= button_to "Edit", edit_recipe_review_path(@recipe.id, @review.id), method: :get %>
                <%# end %>
            <% end %>
        <% end %>  
        <h3>Reviews </h3>
        <% @user.reviews.each do |review| %>
            <% if !review.pending? %>
                <% if review.approved? %>
                    <%= review.body %>
                    <p style = "color: green"> Review Approved <p>
                <% else %>
                    <%= review.body %>
                    <p style = "color: red"> Review Denied <p>
                <% end %>
            <% end %>  
        <% end %>  

     <% end %> 

<% end %>
